<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" media="all"/>
</head>
<body>
    <nav class="navbar">
        <span>devisMaker</span>
        <ul>
            <li>Home</li>
            <li>Tableau de bord</li>
            <li>Profil</li>
            <li>Bases de prix</li>
            <li>Paramètres</li>
        </ul>
        <ul>
            <li>listes des devis ouverts</li>
        </ul>
    </nav>
    <div id=devis>
        <div style="display: flexbox;">
            <div style="display:none">
                TEST<br />
                <ul>
                    <li v-for="lott in activeLots">
                        {{ lott.enOption }}
                    </li>
                </ul>
            </div>
            <div class="header">
                Devis {{ infos.numdevis }} <br />
                <br />
                Client : <br />
                {{ infos.nomclient }} {{ infos.prenomclient }} <br />
                <br />
                {{ infos.adresseclient[0] }} <br />
                {{ infos.adresseclient[1] }} <br />
                {{ infos.adresseclient[2] }} <br />
                <br />
                Description du projet : {{ infos.description }}
            </div>
            <div class="map">
                <span style="font-size:1.2em"><u>Arborescence du projet</u></span><br /><br />
                <div v-for="lot in lots">
                    <input class="literalinput" style="font-weight: bold;" v-model="lot.nom"></input>
                    <input type="checkbox" v-on:click="toggleOption(lot, 'Voulez vous modifier le status du lot : ' + lot.nom + '?')" ></input>
                    <br />
                    <div v-for="item in lot.items" style="padding-left: 33px">
                        | <br />
                        \_____ <input class="literalinput" v-model="item.nom"></input> <br />
                    </div>
                    <br />
                    <div class="addItem">
                        ajouter un item : 
                        <input style="width: 50px"></input>
                        <select style="width: 550px">
                            <option v-for="item in lot.items" value="item">{{ verbose(item) }}</option>
                        </select>
                        <span class="plus" @click="addItem(lot)">+</span>
                    </div>
                    <br /><br />
                    <br /><br />
                </div>
                <span @click="addLot" style="margin-left: 10px;color:white; background-color: black;">+ ajouter un lot</span>
            </div>




            <div class="lotsbox" v-for="(lot, i) in activeLots" style="display: inline-block;">
                <input type="text" style="text-align: left; padding-left: 0.5em;" class="lotstitle" v-model="lot.nom">
                    {{ lot.nom }}
                </span> 
                <br />
                <br />
                <ul v-for="(item, j) in activeLots[i].items">
                    <li>
                        {{ item.nom }} - 

                        Prix <input type ="text" v-model="item.prix" size="3" maxlength="5"></input> - 

                    <select v-model="item.selectedunit">
                            <option value="" disabled selected>{{ item.selectedunit }}</option>
                            <option v-for="unit in units" :value="unit" :selected="item.selectedunit == unit">{{ unit }}</option>
                        </select>
                        Qtt <input type="text" v-model="item.qtt" size="3" maxlenght="5"></input> 
                        = {{ soustot(item.prix, item.qtt) }}
                        <br /> {{ item.descr }}
                    </li>
                </ul>
                <span class="total">Total {{ lot.nom }} : {{ totalize(activeLots[i]) }} {{ config.money }}</span>
                <hr>

            </div>

            <hr><hr>

        </div>
        <div class="bottomfixed">
            <span class="total">Prix total : {{ supertotalize(lots) }} {{ config.money }}</span>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#devis',
            data: {
                config: {
                    money : "€"
                },
                infos: { 
                    numdevis: "D19007",
                    nomclient : "Michel",
                    prenomclient : "Martine",
                    adresseclient : [ "123, rue Bidon", "75014", "Paris"],
                    description : "Description du projet",
                },
                lots: [
                    { 
                        nom : 'menuiserie', 
                        items : [
                        { nom : 'coffrage', prix : 7, selectedunit : '/ m2', qtt : 2, descr : 'Réalisation d\'une cloison afin de dissimuler les conduits' },
                        { nom : 'dressing', prix : 12,  selectedunit : 'Unitaire',  qtt : 8, descr : 'Réalisation d\'un dressing sur mesure' },
                        { nom : 'placard', prix : 45,  selectedunit : 'Unitaire',  qtt : 1, descr : 'Aménagement d\'un placard toute hauteur' },
                        ],
                        //total: '',
                        enOption : false,
                    },
                    { 
                        nom : 'demolition', 
                        items : [
                        { nom : 'salle de bain', prix : 12, selectedunit : "m3", qtt : 8, descr : 'Enlèvement d\'une baignoire et d\'un meuble-vasque' },
                        { nom : 'wc', prix : 12, selectedunit : 'Unitaire', qtt : 8, descr : 'Enlèvement d\'unbloc wc standard' },
                        { nom : 'carrelage', prix : 12, selectedunit : 'm2', qtt : 8, descr : 'Carrelage en grès' },
                        ],
                        //total: '',
                        enOption : false,
                    },
                ],
                lottot: '',
                total: '0',
                units: [ 'Unitaire', 'm2', 'm3', 'autre' ]
            },
            methods: {
                addItem: function(lot){
                    lot.items.push({ nom : 'nouveau', prix : 0, qtt : 0 });
                    console.log(" d'item")
                },
                addLot: function(){
                    this.lots.push({ nom : 'nouveau', items : [] });
                    console.log("ajout de lot")
                },
                soustot: function(prix, qtt){
                    return prix*qtt
                },
                totalize: function(lot){
                        let totaldulot = 0;
                        console.log(this.activeLots);
                        lot.items.forEach(item => {
                            let soustot = item.prix*item.qtt;
                            totaldulot += soustot;
                            console.log(item.nom);
                            console.log(soustot);
                        });
                        console.log(totaldulot);
                        //lot.total = totaldulot;
                        return totaldulot;
                },
                supertotalize: function() {
                    let supertotal = 0;
                    //console.log(this.lots);
                    this.activeLots.forEach(lot => {
                        supertotal += this.totalize(lot); 
                        console.log(lot.nom)
                    });
                    return supertotal;
                },
                toggleOption: function(lot, message) {
                    if(!lot.enOption){
                        if(confirm(message)) {
                            console.log('Confirmation pour mettre en option le lot' + lot);
                            lot.enOption = true;
                        }
                    } else {
                        if(confirm(message)) {
                            console.log('Confirmation pour remettre en certain le lot' + lot);
                            lot.enOption = false;
                        }
                    }
                },

                verbose: function(item) {
                    description = item.nom + " : " + item.descr + + item.prix + ' ' + this.config.money + (item.selectedunit=="Unitaire"? '' : item.selectedunit);
                    return description
                }
            },
            computed: {
                activeLots: function(){
                    activeLots = [];
                    //console.log('Dans activeLots, this.lots: ' + this.lots),
                    //console.log(this.lots)  
                     // array of object=lots
                    this.lots.forEach(lot => {
                    //    console.log(lot);
                        if(!lot.enOption){
                            activeLots.push(lot)
                        }
                    });
                    //console.log(activeLots)
                                  
                    return activeLots
                },

                unitselectorval: function(u) {
                    return this.units[u]
                }

                
            },
            filters: {
                multiply: function(item, index){
                    return item[index].qtt*item[index].prix
                }
            }
        })
    </script>
</body>
</html>